.log {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;

}

.logo {
    font-size: 2rem;
    vertical-align: middle;
}

header {
    background: white;
}

body {
    background-color: #e8e9ea;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.button {
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 10px;
    background-color: white;
    margin-top: 35px;
    margin-left: 150px;
    margin-right: 150px;
}

.task {
    background-color: #3093d6;
    border-radius: 5px;
    border: none;
    padding: 4px 8px;
    color: white;
}

.section {
    border-radius: 5px;
    border-color: lightgray;
    color: lightgray;
    background-color: white;
    padding: 4px 8px;
}

.new {
    background-color: white;
    margin-left: 150px;
    margin-right: 150px;
    padding-left: 40px;
    padding-bottom: 30px;
}

h2 {
    margin: 0;
    color: #444851;
}

p {
    margin-top: 10px;
    color: #444851;
    font-size: 16px;
}

.newtask {
    margin-top: 2px;
}

.editorial {
    background-color: #3093d6;
    padding: 8px 16px;
    font-size: small;
    border-radius: 13px;
    color: white;
}

.q1 {
    background-color: #9c72e4;
    padding: 8px 16px;
    font-size: small;
    border-radius: 13px;
    color: white;
}

.recruiting {
    background-color: #64c0a9;
    padding: 8px 16px;
    font-size: small;
    border-radius: 13px;
    color: white;
}

.mobile {
    background-color: #f29e33;
    padding: 8px 16px;
    font-size: small;
    border-radius: 13px;
    color: white;
}

.website {
    background-color: #d863a0;
    padding: 8px 16px;
    font-size: small;
    border-radius: 13px;
    color: white;

}

.sales {
    background-color: #b0c926;
    padding: 8px 16px;
    font-size: small;
    border-radius: 13px;
    color: white;
}

.r {
    margin-bottom: 0;
}

footer {
    padding-left: 150px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: white;
    margin-top: 0;
}

.copy {
    margin-top: 2px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: white;
}

.v {

    border-radius: 100%;
    padding: 3px;
    border: 1px solid green;
    color: green;
    font-size: 12px;

}

.x {
    border-radius: 100%;
    padding: 4px;
    border: 1px solid red;
    color: red;
    font-size: 12px;
}